<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>333584209260-2idpkerkh3bo8hl7d4s6076cf32m8s2s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.333584209260-2idpkerkh3bo8hl7d4s6076cf32m8s2s</string>
	<key>API_KEY</key>
	<string>AIzaSyD5ADFU9lPLgskx0_61jqB4YKIwTmNU5Dc</string>
	<key>GCM_SENDER_ID</key>
	<string>333584209260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>babayan.CoffeeProject</string>
	<key>PROJECT_ID</key>
	<string>coffeehouse-a6a98</string>
	<key>STORAGE_BUCKET</key>
	<string>coffeehouse-a6a98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333584209260:ios:97a964160f808257f80f49</string>
</dict>
</plist>